.header {
    margin: 10px 40px;
    height: 72px;
    width: 93%;
    position: fixed;
    z-index: 20;
    background-color: transparent;
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
}

.header img {
    color: #4D4D4D;
    cursor: pointer;
    width: 50px;
}

.header nav {
    text-align: end;
}

.header nav a {
    text-decoration: none;
    margin-top: 22px; /* valor do marginTop no figma (62px) - marginTop global(40px) */
    font-size: 16px;
    padding-left: 20px;
    color: #4D4D4D;
    text-shadow: #FFFFFF 0px -1px 1px;
}

.header nav a:hover {
    text-decoration: underline;
}
